<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElNour"
        tools:targetApi="31">
        <activity
            android:name=".PaymentMonth"
            android:exported="false" />
        <activity
            android:name=".Student.Geology.PurchasedVideosActivity"
            android:exported="false" />
        <activity
            android:name=".SubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".VideoPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".Student.Arabic.ArabicActivitySTD"
            android:exported="false" />
        <activity
            android:name=".Student.Arabic.PurchasedVideosActivityAra"
            android:exported="false" />
        <activity
            android:name=".Student.Arabic.PaymentMonthAra"
            android:exported="false" />
        <activity
            android:name=".Student.Biology.BiologyActivitySTD"
            android:exported="false" />
        <activity
            android:name=".Student.Biology.PaymentMonthBio"
            android:exported="false" />
        <activity
            android:name=".Student.Biology.PurchasedVideosActivityBio"
            android:exported="false" />
        <activity
            android:name=".Student.Geology.GeologyActivityStd"
            android:exported="false" />
        <activity
            android:name=".VideosListActivity"
            android:exported="true" />
        <activity
            android:name=".UploadVideoActivity"
            android:exported="false" />
        <activity
            android:name=".Student.Choices_SubNameSTd"
            android:exported="true" />
        <activity
            android:name=".sign"
            android:exported="true" />
        <activity
            android:name=".Biology.BioUpload"
            android:exported="true" />
        <activity
            android:name=".Geology.GeoUpload"
            android:exported="true" />
        <activity
            android:name=".Arabic.ArabicVid"
            android:exported="true" />
        <activity
            android:name=".Arabic.ArabicVideosActivity"
            android:exported="true" />
        <activity
            android:name=".Geology.GeologyVideosActivity"
            android:exported="false" />
        <activity
            android:name=".Biology.BiologyVideosActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".SupportActivity"
            android:exported="true" />
        <activity
            android:name=".ChoiceExam_Vid"
            android:exported="true" />
        <activity
            android:name=".FileListActivity"
            android:exported="true" />
        <activity
            android:name=".UploadActivity"
            android:exported="true" />
        <activity
            android:name=".Student.STDSignIn"
            android:exported="false" />
        <activity
            android:name=".Student.STDSignUp"
            android:exported="true" />
        <activity
            android:name=".StdActivity"
            android:exported="false" />
        <activity
            android:name=".Choices_Name"
            android:exported="true" />
        <activity
            android:name=".TestUpload_Browse"
            android:exported="true" />
        <activity
            android:name=".CoursesActivity"
            android:exported="true" />
        <activity
            android:name=".Choices"
            android:exported="true"
            android:label="@string/title_activity_choices"
            android:theme="@style/Theme.ElNour" />
        <activity
            android:name=".SiginUp"
            android:exported="true" />
        <activity
            android:name=".SignIn"
            android:exported="true" >

        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.elnour.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>